@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand-fuchsia: 244 114 182;
  }

  body {
    font-feature-settings: "liga" 1, "calt" 1;
    letter-spacing: -0.01em;
  }

  ::selection {
    @apply bg-fuchsia-500/30 text-slate-900 dark:text-white;
  }
}
